body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: radial-gradient(
      circle,
      transparent 20%,
      #f5b994 20%,
      #f5b994 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #f5b994 20%,
        #f5b994 80%,
        transparent 80%,
        transparent
      )
      50px 50px,
    linear-gradient(#ee9c6a 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #ee9c6a 8px, transparent 8px) -4px 0;
  background-color: #f5b994;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}
